html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}


/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*MY CODE*/

/*****************************************************************************************************************************************
******************************************************************************************************************************************
*****************************************************************************************************************************************/

* li a {
    text-decoration: none;
    color: #111;
}

* li {
    list-style-type: none;
}

* mark {
    color: #111;
    background-color: #eff1f3;
    font-weight: 100;
    text-decoration: none;
    padding: 0 5px;
    border: 2px solid #111;
    border-radius: 2px;
    font-style: normal;
    font-size: 16px;
}

body {
    background-color: #757b81;
    text-align: center;
}
/*****************************************************************************************************************************************
******************************************************************************************************************************************
*****************************************************************************************************************************************/
/*HEADER*/


header div {
    height: 50px;
    width: calc(100% - 30px);
    margin: 0 auto;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

header div nav {
    float: left;
}

header div nav h2 {
    float: left;
    color: #111;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 1000;
    font-family: callasweet;
    border-right: 2px solid #111;
}

header div article {
    float: left;
}


header div article ul li {
    float: left;
    display: block;
}

header div article ul li a {
    line-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    color: #111;
    font-size: 28px;
    font-family: kingsland;
    display: block;
}

header div article ul li a:hover {
    background-color: #f1f1f1;
}

header div section {
    float: right;
}


header div section ul li {
    float: right;
    display: block;
}

header div section ul li a {
    line-height: 28px;
    margin: 10px 0;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: #111;
    text-transform: uppercase;
    font-size: 16px;
    font-family: pornstar academy;
    display: block;
    border: 1px dotted #111;
}

header div section ul li a:hover {
    background-color: #f1f1f1;
}

header div section ul li a:focus {
    color: #fff;
    background-color: #111;
    cursor: pointer;
}
/*MAIN BODY*/
/*****************************************************************************************************************************************
******************************************************************************************************************************************
*****************************************************************************************************************************************/
main div {
    height: calc(100vh - 120px);
    width: calc(100% - 30px);
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
}

.index-banner {
    width: calc(100% - 30px);
    height: calc(100vh - 120px);
    background-image: url('sos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: table;
}

main div nav h2 {
    padding-top: 15px;
    color: #fff;
    line-height: 30px;
    font-size: 22px;
    font-family: juiceline;
    font-weight: 1000px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px 20px;
    text-shadow: 2px 2px 2px #343d46;
}

main div nav table {
    float: left;
    width: 850px;
    border: 2px solid #111;
    border-spacing: 40px;
    border-radius: 5px;
    margin: 40px 10px 40px 10px;
    border-spacing: 5px;
}

main div nav table th {
    text-align: left;
    font-size: 18px;
    font-weight: 500px;
    background-color: aliceblue;
    border-spacing: 0;
}

table, th, td {
    border: 2px solid #fff;
    border-radius: 20px;
    font-family: callasweet;
    font-weight: 500;
    color: #fff;
    background-color: transparent;
    border-spacing: 0;
    padding: 5px;
    text-shadow: 0 2px 2px 0;
}

table {
    background-color: transparent;
    border: none;
}

main div nav table td {
    text-align: left;
}

th, td {
    padding: 10px;
}

th {
    color: #111;
}
td:hover {
    color: #111;
    background-color: #ddd;
    cursor: pointer;
}

main div article {
    float: left;
}

main div article form {
    width: 30%;
    margin: 0 auto;
    margin-top: 40px;
}

main div article form input {
    color: #111;
    background-color: aliceblue;
    font-family: callasweet;
    font-size: 20px;
    margin: 5px 0px;
    margin-left: 5px;
    border: 0;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
    border-top: 2px solid aliceblue;
    border-bottom: 2px solid #7a11a2;
    padding-right: 5px;
    padding-right: 30px;
}

main div article form textarea {
    height: 350px;
    width: 250px;
    color: #111;
    background-color: aliceblue;
    font-family: callasweet;
    font-size: 20px;
    margin: 10px 0px;
    margin-left: 5px;
    border: 0;
    border-left: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
    border-top: 2px solid aliceblue;
    border-bottom: 2px solid #7a11a2;
    padding-right: 5px;
    padding-right: 30px;
}

main div article form button {
    color: #fff;
    background-color: #7a11a2;
    font-family: callasweet;
    font-size: 20px;
    text-align: center;
    margin: 0px auto;
    border: 0;
    margin: 2px;
    border: 0;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 2px;
    padding: 5px 20px;
}

main div article form button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #38a7db;
    font-family: callasweet;
}

main div article p {
    padding-top: 15px;
    color: #fff;
    line-height: 30px;
    font-size: 16px;
    font-family: callasweet;
    font-weight: 1000px;
    text-align: right;
    margin: 5px 20px;
    text-shadow: 2px 2px 2px #343d46;
    padding-left: 100px;
}
/*****************************************************************************************************************************************
******************************************************************************************************************************************
*****************************************************************************************************************************************/
/*FOOTER*/

footer {

}

footer div {
    height: 50px;
    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}